/* Put your custom styles here */

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/

body {
	font-family: 'Open Sans', sans-serif;
}

a, a:visited, a:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
	box-shadow: inset 0 -3px 0 #f44336;
	transition: box-shadow 0.25s ease-out, color 0.25s ease-out;
}

a:hover {
	color: white;
	box-shadow: inset 0 -20px 0 #f44336;
}

.card:hover {
	/* fill: #eeeeee; */
}

.hed {
	font-size: 4rem;
	font-family: 'Playfair Display';
	/* font-weight: 300; */
	/* font-family: sans-serif; */
	/* text-transform: uppercase; */
	width: 85%;
	line-height: 4.5rem;
}

.dek {
	font-weight: 300;
	/* text-transform: uppercase; */
}

.byline {
	/* font-weight: 300; */
	/* text-transform: uppercase; */
}

button {
	cursor: pointer;
	border: 1px solid black;
	background: none;
	box-shadow: none;
	border-radius: 0px;
	padding: 10px 20px 10px 20px;
	margin: 5px;
	font-size: 14px;
	font-weight: 700;
}

button:hover {
	background-color: #eeeeee;
}

button:active {
	background-color: #dddddd;
}

button:focus {
	outline: 0;
}

.clear {
	background-color: #444444;
	color: white;
	border: 1px solid white;
}

.clear:hover {
	background-color: #666666;
}

blockquote {
	font-style: italic;
	padding: 18px;
	font-size: 1.15em;
	border-left: 5px solid black;
}